.box {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    background-color: coral;
}

/* .box-dark {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(123, 14, 212);
} */

.light-theme {
    background-color: aqua;
}

.dark-theme {
    background-color: black;
    color: blueviolet;
    
} 

.themeButton {
    border: 1px solid black;
    border-start-end-radius: 25%;
}

.ul {
    list-style-type: none;
    cursor: pointer;
}
 
#sosi {
    width: 20px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    cursor: pointer;
}

.green-text {
    color: lime;
    text-decoration: line-through;
}

.radios {
    width: 20px;
    height: 60px;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
}

